<h1>People</h1>
<ul>
  <% @people['results'].each do |person| %>
    <li>
      <%= link_to person['name'], person_path(person['url'].split('/').last) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back to Home', root_path %>